 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0; }
 a { text-decoration: none; }
 body { font-family: 'Titillium Web', sans-serif; font-size: 16px; background: url(theme/body-bg.png?1763535330) fixed center top; line-height:30px; }
 body.wsite-custom-background { background-attachment: fixed !important; background-position: center top !important; }
 .container { margin: 0 auto; width: 980px; background: #0b0b0b; }
 blockquote { border-left:none !important; color:#999 !important; }
 #header-wrap, #banner-wrap, #nav-wrap, #main-wrap, #footer-wrap { width:100%; background: url(theme/content-bg.png?1763535330) repeat-y center top; }
 a { color: #652cce; }
 a:hover { color: #3b187b; }
 h2 { font-size: 28px; padding: .5em 0 .2em 0; line-height: 1.2; font-family: 'Titillium Web', sans-serif; font-weight: 700; color: #222222; }
 div.paragraph { font-family: 'Titillium Web', sans-serif; font-weight: 200; font-size: 16px; line-height: 1.5; padding: 0.5em 0; color: #555555; }
 p { font-family: 'Titillium Web', sans-serif; font-weight: 200; font-size: 16px; line-height: 1.5; padding: 0.5em 0; color: #555555; }
 div#content {min-height:400px;}
 #header-wrap .container { border-bottom: 1px solid #2D2D2D; }
 #logo, #logo a, #logo a:hover { font-family: 'Titillium Web', sans-serif; font-size: 38px; font-weight: bold; color: #fff; line-height:40px; }
 #header { border-collapse: collapse; border-spacing: 0; width:100%; height: 70px; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { padding:40px 0px 40px 40px; }
 #header-right table { float: right; width: 1px; margin-right: 40px; }
 #header-right td { padding: 0; }
 #header .phone-number .wsite-text { color: #999999; font-size: 14px; font-family: 'Titillium Web', sans-serif; display: block; white-space: nowrap; margin-left: 40px; }
 #header-right .wsite-social { vertical-align: middle; margin: 9px 15px 0 5px; float: right; }
 .wsite-social-item { width: 23px; height: 23px; margin: 0 0 0 3px; background-image:url(theme/social-grey-bordered.png?1763535330); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -23px;}
 .wsite-social-facebook:active {background-position:0 -46px;}
 .wsite-social-pinterest {background-position:-23px 0;}
 .wsite-social-pinterest:hover {background-position:-23px -23px;}
 .wsite-social-pinterest:active {background-position:-23px -46px;}
 .wsite-social-twitter {background-position:-46px 0;}
 .wsite-social-twitter:hover {background-position:-46px -23px;}
 .wsite-social-twitter:active {background-position:-46px -46px;}
 .wsite-social-linkedin {background-position:-69px 0;}
 .wsite-social-linkedin:hover {background-position:-69px -23px;}
 .wsite-social-linkedin:active {background-position:-69px -46px;}
 .wsite-social-mail {background-position:-92px 0;}
 .wsite-social-mail:hover {background-position:-92px -23px;}
 .wsite-social-mail:active {background-position:-92px -46px;}
 .wsite-social-rss {background-position:-115px 0;}
 .wsite-social-rss:hover {background-position:-115px -23px;}
 .wsite-social-rss:active {background-position:-115px -46px;}
 .wsite-social-flickr {background-position:-138px 0;}
 .wsite-social-flickr:hover {background-position:-138px -23px;}
 .wsite-social-flickr:active {background-position:-138px -46px;}
 .wsite-social-plus {background-position:-161px 0;}
 .wsite-social-plus:hover {background-position:-161px -23px;}
 .wsite-social-plus:active {background-position:-161px -46px;}
 .wsite-social-vimeo {background-position:-184px 0;}
 .wsite-social-vimeo:hover {background-position:-184px -23px;}
 .wsite-social-vimeo:active {background-position:-184px -46px;}
 .wsite-social-yahoo {background-position:-207px 0;}
 .wsite-social-yahoo:hover {background-position:-207px -23px;}
 .wsite-social-yahoo:active {background-position:-207px -46px;}
 .wsite-social-youtube {background-position:-230px 0;}
 .wsite-social-youtube:hover {background-position:-230px -23px;}
 .wsite-social-youtube:active {background-position:-230px -46px;}
 .wsite-search { vertical-align: middle; width: 170px; }
 .wsite-search-input { float: right; height: 20px; padding: 5px 5px !important; vertical-align: middle; width: 140px; border: 0; color: #fff; float: right; background: url(theme/input-bg.png?1763535330) no-repeat; }
 .wsite-search-button { position: relative; width: 20px; height: 30px; float: left; border: 0; background: url(theme/submit-bg.png?1763535330) no-repeat; }
 #nav-wrap .container { clear: both; overflow: hidden; position: relative; border:none; }
 #nav-wrap table { width:100%; border-collapse: collapse; border-spacing: 0; padding:0px; }
 #nav-wrap table td { border-collapse: collapse; border-spacing: 0; }
 #nav-wrap .container ul { list-style: none; float: right; margin-right:40px; }
 #nav-wrap .container ul li { list-style: none; float: left; margin-left:40px; position:relative; top:1px; }
 #nav-wrap .container ul li a { display: block; font-family: 'Open Sans', sans-serif; font-weight: bold; color: #999999; text-decoration: none; padding: 47px 0px; border: 0; outline: 0; list-style-type: none; font-size: 16px; }
 #nav-wrap .container ul li#active a, #nav-wrap .container ul li a:hover { color: #fff; background: url(theme/nav-hover-violet.png?1763535330) no-repeat center bottom; border: 0; }
 #wsite-menus .wsite-menu li a { font-family: 'Open Sans', sans-serif; color: #999999; background: #000; border: 0; }
 #wsite-menus .wsite-menu li a:hover { color: #fff; background: #652cce; }
 #banner { background: url(theme/banner-top-bg-violet.png?1763535330) repeat-x top left; height: 5px; position: relative; width: 980px; }
 .tall-header-page #banner { width: 980px; height: 305px; background: url(theme/banner-top-bg-violet.png?1763535330) repeat-x top left; }
 .tall-header-page .wsite-header { width: 980px; height: 300px; background: url(theme/banner-tall.jpg?1763535330) no-repeat; float: left; position: relative; top: 5px; }
 .short-header-page #banner { width: 980px; height: 205px; background: url(theme/banner-top-bg-violet.png?1763535330) repeat-x top left; }
 .short-header-page .wsite-header { width: 980px; height: 200px; background: url(theme/banner-short.jpg?1763535330) no-repeat; float: left; position: relative; top: 5px; }
 .no-header-page .wsite-header { display:none; }
 .landing-page #banner { width: 980px; height: 505px; background: url(theme/banner-top-bg-violet.png?1763535330) repeat-x top left; position: relative; }
 .right-align { right:60px; }
 .landing-page .wsite-header { width: 980px; height: 500px; background: url(theme/banner-tall.jpg?1763535330) no-repeat; position: absolute; z-index:1; top: 5px; }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; height:505px; width:300px; position:absolute; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; position:relative; text-align:center; padding:30px 30px 25px; width:300px; z-index:2; background: url(theme/landing-page-text-bg.png?1763535330) repeat center left; }
 #bannerright { width: 300px; }
 #bannerright h2 { color: #fff; font-size: 28px; font-family: 'Titillium Web', sans-serif; padding: 0px; line-height: 28px; }
 #bannerright div.paragraph { color: #999999; font-size: 16px; padding: 20px 0px; line-height: 140%; }
 #bannerright p { color: #999999; font-size: 16px; padding: 20px 0px; line-height: 140%; }
 #bannerright a:hover {color:#fff;}
 #main-wrap .container { background: #fff; padding: 20px 40px 40px; width: 900px; min-height:400px; }
 blockquote { background: url(theme/quotes.png?1763535330) no-repeat top left; font-size:16px; font-family: 'Georgia' ,sans-serif; font-style:italic; padding-left:40px !important; margin:20px 0px; color:#777777; line-height:28px; }
 #main-wrap .paragraph ul { padding: 0px !important; margin: 0px !important; }
 #main-wrap .paragraph ul li { list-style: none !important; background: url(theme/bullets.png?1763535330) no-repeat 0px 9px; padding: 0px 18px !important; }
 #main-wrap .container form .wsite-button { margin-top:20px; }
 #footer-wrap { text-align:right; color:#999999; }
 #footer-wrap .container { padding: 40px; width:900px; background: #0B0B0B url(theme/banner-top-bg-violet.png?1763535330) repeat-x top left; }
 #footer-wrap blockquote {color:#777 !important; }
 #footer-wrap .wsite-form-container { text-align:left; }
 #footer-wrap .container h2 { color: #fff; font-family: 'Titillium Web', sans-serif; font-size: 24px; font-weight: bold; }
 #footer-wrap .container a { color:#fff; }
 #footer-wrap .container a:hover { color:#777; }
 #footer-wrap .container div.paragraph { color: #999999; font-family: 'Titillium Web', sans-serif; font-weight: 200; font-size: 16px; }
 #footer-wrap .container p { color: #999999; font-family: 'Titillium Web', sans-serif; font-weight: 200; font-size: 16px; }
 #footer-wrap .paragraph ul { padding: 0px !important; margin: 0px !important; }
 #footer-wrap .paragraph ul li { list-style: none !important; background: url(theme/bullets.png?1763535330) no-repeat 0px 8px; padding: 0px 18px !important; font-style: italic; }
 #footer-wrap .wsite-form-input, #footer-wrap .wsite-search-element-input { font-family: 'Titillium Web', sans-serif; font-size: 16px; color: #777777; background: #2d2d2d; border: 1px solid #2d2d2d; padding:11px 5px !important; text-shadow: 1px 2px 1px rgba(0, 0, 0, .5); -webkit-border-radius:5px ; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, .1); box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, .1); }
 #footer-wrap .wsite-search-element-submit { background: url(theme/search-dark.png?1763535330) left; }
 #footer-wrap .form-radio-container {color:#bbb;}
 .wsite-form-label { display: inline-block; color: #aaaaaa; font-family: 'Titillium Web', sans-serif; font-size: 16px; font-weight:normal; margin:15px 0px 5px; }
 .form-radio-container { color: #555555; font-size: 16px; font-family: 'Titillium Web', sans-serif; margin:0 !important; }
 .wsite-form-input, .wsite-search-element-input { font-family: 'Titillium Web', sans-serif; font-size: 16px; color: #aaaaaa; border: 1px solid #cdcdcd; padding: 11px 6px !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .1); box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .1); }
 .form-select { font-family: 'Titillium Web', sans-serif; font-size: 16px; color: #555555; border: 1px solid #cdcdcd; padding: 8px 11px; height: 40px !important; line-height: 40px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .1); box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .1); }
 .wsite-form-container {margin-top:0 !important;}
 .wsite-button { height: 39px; display: inline-block; padding: 0 30px 0 0; background: url(theme/button_highlight.png?1763535330) no-repeat 100% -120px; text-shadow: 1px 2px 1px rgba(0, 0, 0, .5); }
 .wsite-button:hover { background-position: 100% -160px; }
 .wsite-button:active { background-position: 100% -200px; }
 .wsite-button-inner { color: #fff !important; font-family: 'Open Sans', sans-serif; height: 39px; line-height: 39px; display: block; font-size: 16px; font-weight: bold; text-decoration: none; padding: 0 0 0 30px; background: url(theme/button_highlight.png?1763535330) no-repeat 0px 0px; }
 .wsite-button:hover .wsite-button-inner { background-position: 0px -40px; }
 .wsite-button:active .wsite-button-inner { background-position: 0px -80px; }
 .wsite-button-large { color: #fff !important; height: 49px; background: url(theme/button_large_highlight.png?1763535330) no-repeat 100% -150px; padding: 0 30px 0 0; text-shadow: 1px 2px 1px rgba(0, 0, 0, .5); }
 .wsite-button-large:hover { background-position: 100% -200px; }
 .wsite-button-large:active { background-position: 100% -250px; }
 .wsite-button-large .wsite-button-inner { height: 49px; line-height: 49px; padding: 0 0 0 30px; background: url(theme/button_large_highlight.png?1763535330) no-repeat 0px 0px; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0px -50px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0px -100px; }
 .wsite-button-highlight { background-image: url(theme/button_violet.png?1763535330); text-shadow: 1px 2px 1px rgba(0, 0, 0, .5); }
 .wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_violet.png?1763535330); }
 .wsite-button-large.wsite-button-highlight { background-image: url(theme/button_large_violet.png?1763535330); text-shadow: 1px 2px 1px rgba(0, 0, 0, .5); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_large_violet.png?1763535330); }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
