li a {
	text-decoration: none;
	font-weight: bold;
}
klasjdf
li a:hover {
	text-decoration: underline;
}

h2, ul {
	font-family: Georgia, "Times New Roman", Times, serif;
}

li {
	list-style-type: none;
}

#previewWin {
	background-color: #FF9;
	width: 150px;
	height: 200px;
	font: .6em arial, helvetica, sans-serif;
	padding: 5px;
	position: absolute;
	visibility: hidden;
	border: 1px #CC0 solid;
	overflow: hidden;
}

#previewWin h1, #previewWin h2 {
	font-size: 1.0em;
}
#imageWin {
	width: 200px;
	height: 200px;
	padding: 5px;
	position: absolute;
	border: 1px #CC0 solid;
	overflow: hidden;
}
#imageWin img{
	width: 200px;
	height: 200px; 
	
}

#imgbox 
{
	position:absolute;
	z-index : 50;
	visibility : hidden;
	overflow : hidden;
	border:thin;
	border-color:#0033FF;
	
}
